.shop-conatiner {
    padding: 2rem 8rem;
}


.shop-wrapper {
    display: flex;
    padding-top: 10px;
    gap: 20px;
    flex-wrap: wrap;
}

.shop-childs {
    flex-grow: 1;
    flex-basis: 0;
}

@media screen and (max-width:1200px) {
    .shop-conatiner {
        padding: 2rem 6rem;
    }
}

@media screen and (max-width:850px) {
    .shop-wrapper {
        flex-direction: column;
        align-content: center;
    }
}

@media screen and (max-width:768px) {
    .shop-conatiner {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width:441px) {
    .shop-conatiner {
        padding: 2rem 2rem;
    }
}