.shop-card {

    cursor: pointer;
    transition: all 0.6s ease-in-out;

    flex-direction: column;
}

.shop-img-container {
    height: 90%;
    overflow: hidden;
    border-radius: 25px;


}

.shop-img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    transition: all 0.6s ease-in-out;
    transform: scale(1.02);
}

.shop-txt {
    text-align: center;
}

.shop-txt>* {
    padding: 10px;
}

.shop-txt>p {
    text-decoration: underline;
}

.shop-img-container:hover .shop-img {
    transform: scale(1.1);
    transition: all 0.6s ease-in-out;
}