.review-wrapper {
    display: flex;
    gap: 10px;
    /* height: 300px; */
    flex-direction: row;
    padding: 3rem 10rem;
}

.review-title-container {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review-slider-box {
    display: flex;
    gap: 10px;
    flex-grow: 4;
    flex-basis: 0;
    height: 280px;

}

.review-items {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 25%;
    padding-bottom: 40px;
}

@media screen and (max-width:1500px) {
    .review-wrapper {
        flex-direction: column;
        height: 540px;
        justify-content: space-between;
    }

    .review-title-container {
        flex-direction: row;
    }

    .review-slider-box {
        overflow-x: scroll;

    }

    .review-items {
        flex: 0 0 240px;
    }

}


@media screen and (max-width:1200px) {
    .review-wrapper {
        padding: 3rem 6rem;
    }

}

@media screen and (max-width:768px) {
    .review-wrapper {
        padding: 3rem 4rem;
    }

}

@media screen and (max-width:441px) {
    .review-wrapper {
        padding: 3rem 2rem;
    }

}