.home-wrapper {
    background-image: url(../../../public/hero1st1-114_2400x1200.webp);
    height: calc(100vh - 100px);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65%;
    position: relative;
}

.home-txt {
    width: 38%;
    position: absolute;
    bottom: 10%;
    left: 5%;
    line-height: 50px;
    font-weight: bolder;
    color: #F6F8F8;
    z-index: 2;
}

.home-txt h1 {
    padding-bottom: 1rem;
}

.home-txt p {
    padding-bottom: 0.5rem;
}

.mini-image-container {
    z-index: 2;
    position: absolute;
    height: 245px;
    width: 225px;
    right: 5%;
    bottom: 10%;
    background-color: #F6F8F8;
    border-radius: 10px;
}

.mini-img {
    padding: 10px;
    text-align: center;
}

.mini-img>p {
    font-size: 16px !important;
}

.mini-img>img {

    width: 85%;

}

.home-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(21, 58, 91, 0) 0%, rgba(21, 58, 91, 0) 33.33%, rgba(21, 58, 91, 0.1) 66.67%, rgba(21, 58, 91, 0.8) 100%);
}

@media screen and (max-width:1200px) {
    .home-txt {
        line-height: 32px;
    }

}

@media screen and (max-width:768px) {
    .home-wrapper {
        background-image: url("../../../public/DPM_1-114_1200x2400.webp");

    }

    .home-txt {
        width: 35%;
        line-height: normal;
    }

    .mini-image-container {

        height: 200px;
        width: 180px;

    }

    .home-wrapper {
        background-position: 75%;
    }

}

@media screen and (max-width:441px) {
    .home-txt {
        width: 80%;
    }

    .mini-image-container {

        display: none;

    }

}