.sticky-header {
    position: sticky;
    top: 0;
    z-index: 999;

}

.header-container {
    width: 100%;
    background-color: #fff;
    height: 100px;
    padding: 0px 10rem;
    position: relative;
    z-index: 3;

    /* overflow-y: visible; */
}


.header-wrapper {
    display: flex;
    height: 100%;
    align-items: center;

}

/* header links container */
.hamburger-menu-container {
    display: none;
}

.hamburger-icon {
    cursor: pointer;
}

.header-item {
    flex: 1 2 0px;

}

.header-links>ul {
    text-transform: uppercase;
    list-style: none;
    display: flex;
}

.menu-link>* {
    padding: 0rem 2rem 0 0;
    font-size: 16px;
    font-weight: 700;

}

.menu-link>span {
    cursor: pointer;
}


.menu-link:hover .hovered-container-main {
    display: flex;
}

/* hovered container inside header links */


/* header logo container */
.cmp-logo {
    height: 35px;
    width: 90px;
    margin: auto;
}

/* header icons container */

.icons-container {
    flex: 1 0 0px;

}

.login-icons>p>span:nth-child(n) {
    cursor: pointer;
}

.login-icons {
    text-align: right;
}



.login-icons>p>* {
    padding: 0rem 2rem;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.checkout-btn-number {
    position: relative;
}

.cart-item-number {
    position: absolute;
    top: -15px;
    margin: 0;
    right: -10px;
    background: #153a5b;
    color: #f5f5f5;
    padding: 0px 5px;
    border-radius: 50%;
    line-height: 20px;
}



@media screen and (max-width:1200px) {
    .header-container {
        padding: 0 20px;
    }

    .hamburger-menu-container {

        display: block;
    }

    .login-icons>p a {
        display: inline !important;
        text-align: right;
    }

    .header-links {
        display: none;

    }

    .login-icons>p>span:nth-last-child(n + 3) {
        display: none;
    }

}

@media screen and (max-width:415px) {
 
    .header-container {
        padding: 0 15px;
    }

    .login-icons>p>* {
        padding: 0rem 0.5rem;

    }
}
@media screen and (max-width:315px) {
    
    
}