.learn-card-container {
    position: relative;
    height: 35%;
    width: 100%;
    /* background-color: aqua; */
    /* margin: auto; */
    top: 25%;
    /* display: flex; */
    /* flex-wrap: wrap; */
}

.learn-card {
    width: 350px;
    height: 500px;
    margin: 0px 15px;
    border-radius: 15px;
    /* border: 2px solid rgb(184, 34, 47); */
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.learn-card::after {

    content: '';
    position: absolute;
    top: 0px;
    border-radius: 15px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(21, 58, 91, 0) 0%, rgba(21, 58, 91, 0) 33.33%, rgba(21, 58, 91, 0.1) 66.67%, rgba(21, 58, 91, 0.8) 100%);
}

.img-cr {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.learn-card-text {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 10%;
    text-align: center;
    /* transform: translateY(32px); */
    color: white;
    width: 80%;
    margin: 0 auto;
    transition: all 0.4s ease-in-out;
}

.learn-card-container:hover .learn-card-text {
    transform: translateY(-30px);
    transition: all 0.4s ease-in-out;
}

.shop-now-btn {
    transform: translateY(45px);
    transition: all 0.4s ease-in-out;

}

.learn-card-container:hover .shop-now-btn {
    transform: translateY(10px);
    transition: all 0.4s ease-in-out;
}


@media screen and (max-width:1200px) {
    .learn-card {
        width: 350px;
        height: 500px;
    }
}



@media screen and (max-width:441px) {
    .learn-card {
        width: 250px;
        height: 455px;
    }
}