.mission-container {
    height: 100vh;
    width: 100%;
    background-image: url('https://res.cloudinary.com/larq/image/upload/q_auto,f_auto/v1684877508/Homepage-v3/our_mission.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

}

.mission-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(21, 58, 91, 0) 0%, rgba(21, 58, 91, 0) 33.33%, rgba(21, 58, 91, 0.1) 66.67%, rgba(21, 58, 91, 0.8) 100%);
}

.mission-container-text {
    position: absolute;
    bottom: 15%;
    left: 5%;
    color: white;
    width: 30%;
    z-index: 2;
    transition: all 0.6s ease-in-out;
}

.active-back-btn {
    position: absolute;
    bottom: 15%;
    left: 6%;
    z-index: 2;
    transition: all 0.6s ease-in-out;


}

.back-btn {
    transform: translateX(-50vw);
    position: absolute;
    bottom: 15%;
    left: 5%;
    z-index: 2;
    transition: all 0.6s ease-in-out;

}

.active-mission-container-text {
    transition: all 0.6s ease-in-out;
    position: absolute;
    bottom: 15%;
    transform: translateX(-50vw);
    left: 0%;
    color: white;
    width: 30%;
    z-index: 2;
}

.learn-more-container {
    z-index: 2;
    transform: translateX(30%);

    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    transition: all 0.6s ease-in-out;
    display: flex;
}

.active-learn-more-container {
    z-index: 2;
    transform: translateX(0%);

    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    transition: all 0.6s ease-in-out;
    display: flex;
}

.learn-more-container:hover {
    transform: translateX(14%);

    transition: all 0.6s ease-in-out;
    display: flex;

}

.learn-more-card {
    display: flex;
    overflow: hidden;
    height: 100%;

}

@media screen and (max-width:1500px) {
    .learn-more-container {
        z-index: 2;
        transform: translateX(100%);
        height: 100%;
        position: absolute;
        right: 0px;
        top: 0px;
        transition: all 0.6s ease-in-out;
        display: flex;
    }

    .learn-more-container:hover {
        transform: translateX(100%);
        transition: all 0.6s ease-in-out;
        display: flex;

    }

    .mission-container-text {
        width: 35%;
    }

}

@media screen and (max-width:1200px) {
    .mission-container {
        background-size: cover;
        background-position: 20% 30%;
    }

    .mission-container-text {
        bottom: 5%;
        left: 5%;
    }

    .active-mission-container-text {
        bottom: 5%;
        transform: translateX(-50vw);
    }

    .back-btn {
        bottom: 5%;
        left: 5%;

    }

    .active-back-btn {
        bottom: 5%;
        left: 5%;
    }


}

@media screen and (max-width:778px) {
    .mission-container-text {
        width: 80%;
    }

}