.magazine-container {
    padding-bottom: 10rem;
}

.magazine-wrapper {
    display: flex;
    padding: 5rem 10rem;
    justify-content: space-between;
    align-items: center;
}

.magazine-text>p {
    font: 300 !important;
}

.exl_btn {
    width: 180px;
    background-color: transparent;
    border: 1px solid var(--blue);
}

.magazine-scoll-container {
    display: flex;
    padding: 0rem 10rem;
    overflow-x: scroll;
    height: 635px;

}

#style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 0px 100px;

}

#style-4::-webkit-scrollbar {
    height: 5px;
    margin: 0px 100px;
}

#style-4::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.44, rgb(122, 153, 217)),
            color-stop(0.72, rgb(73, 125, 189)),
            color-stop(0.86, rgb(28, 58, 148)));
    margin: 0px 100px;
}

@media screen and (max-width:1200px) {
    .magazine-wrapper {
        padding: 5rem 8rem;

    }

    .magazine-scoll-container {
        padding: 5rem 8rem;
    }

    #style-4::-webkit-scrollbar-track {

        margin: 0px 8rem;

    }
}

@media screen and (max-width:768px) {
    .magazine-wrapper {
        padding: 5rem 6rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .magazine-scoll-container {
        padding: 5rem 6rem;
    }

    #style-4::-webkit-scrollbar-track {

        margin: 0px 6rem;

    }
}

@media screen and (max-width:441px) {
    .magazine-wrapper {
        padding: 5rem 4rem;

    }

    .magazine-scoll-container {
        padding: 5rem 4rem;
    }

    #style-4::-webkit-scrollbar-track {

        margin: 0px 4rem;

    }
}