.trending-wrapper {
    padding: 5rem 10rem
}

.trending-flex-container {
    display: flex;
    gap: 20px;
    border-radius: 20px;
    overflow-x: scroll;
    padding-bottom: 40px;

}

@media screen and (max-width:1200px) {
    .trending-wrapper {
        padding: 5rem 8rem
    }

    .trending-flex-container {
        gap: 15px;
    }
}

@media screen and (max-width:768px) {
    .trending-wrapper {
        padding: 5rem 6rem
    }
}

@media screen and (max-width:441px) {
    .trending-wrapper {
        padding: 5rem 4rem
    }
}