.trending-shop-card {
    background-color: #F6F6F6;
    height: 600;
    width: 420px;
    border-radius: 20px;
    padding-bottom: 100px;
}

.shop-card-txt {
    text-align: center;
}

.shop-card-option {
    text-align: center;
    margin: auto;
    height: 120px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-img {
    height: 115px;
    width: 100px;
}

/* card bg color  */
.bg-blue {
    background-color: #EFF0F5;
}

.bg-green {
    background-color: #F2F5F2;
}

.bg-white {
    background-color: #F6F6F6;
}

.bg-black {
    background-color: #EAEAEA;
}

.bg-mint {
    background-color: #ECF2F3;
}

.bg-pink {
    background-color: #FDF7F9;
}